.wrapper {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#count {
  font-size: 40px;
  font-weight: bold;
}